@model IEnumerable<MayinOnline.Models.Cthoadon> 


<dl class="row pb5 pt2">
    <dd>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Mã hóa đơn</th>
                    <th scope="col">Mã mặt hàng</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Hình ảnh</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Cthoadon ct in Model)
                {
    <tr>
        <td>@ct.MaHd</td>
        <td>@ct.MaMh</td>
        <td>@ct.MaMhNavigation.Ten</td>
        <td> <img src="~/Template/Picture/@ct.MaMhNavigation.HinhAnh" width="150" /> </td>
        <td>@ct.SoLuong</td>
        <td>@string.Format("{0:n0}đ", ct.DonGia)</td>
        <td>@ct.ThanhTien.ToString("n0")đ</td>
    </tr>}
            </tbody>
        </table>
        <a asp-controller="Home" asp-action="xemcthdKhachhang" asp-route-id="@ViewBag.khachhang.MaKh" class="btn btn-secondary">Quay lại</a>
    </dd>
</dl>